Exploration of Tweets about wireless carriers

In [13]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# import data
conn = sqlite3.connect('../data/wireless.db')
sql = 'select * from tweets'
df = pd.read_sql(sql, conn)
df.head()

   category  sentiment_score
0  @Verizon              0.0
1  @Verizon              0.0
2  @Verizon              0.0
3  @Verizon              0.0
4  @Verizon              0.0

In [17]:
counts = df.groupby("category").count()
counts

          sentiment_score
category
@ATT                 3628
@Tmobile               19
@Verizon             4554

Due to the low amount of Tmobile counts, I think there may be a bug with the way I collect tweets.